body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1085px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:12px;
  width:209px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u2875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:19px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:275px;
  width:754px;
  height:182px;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u2882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:26px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:248px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:244px;
  word-wrap:break-word;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:115px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:141px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  word-wrap:break-word;
}
#u2888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:0px;
  width:166px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  word-wrap:break-word;
}
#u2890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:94px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:79px;
  height:94px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:75px;
  word-wrap:break-word;
}
#u2892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:94px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:26px;
  width:248px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:244px;
  word-wrap:break-word;
}
#u2892_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:26px;
  width:1px;
  height:1px;
}
#u2894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:94px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:26px;
  width:115px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  word-wrap:break-word;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:94px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:26px;
  width:141px;
  height:94px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:137px;
  word-wrap:break-word;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:94px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:26px;
  width:166px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:162px;
  word-wrap:break-word;
}
#u2898_ann {
  border-width:0px;
  position:absolute;
  left:735px;
  top:26px;
  width:1px;
  height:1px;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:79px;
  height:30px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:120px;
  width:248px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:244px;
  word-wrap:break-word;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:120px;
  width:115px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:120px;
  width:141px;
  height:30px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u2908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:120px;
  width:166px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:162px;
  word-wrap:break-word;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:79px;
  height:27px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:27px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:150px;
  width:248px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:244px;
  word-wrap:break-word;
}
#u2914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:150px;
  width:115px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u2916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:150px;
  width:141px;
  height:27px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u2918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:27px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:150px;
  width:166px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:84px;
  width:364px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u2920_ann {
  border-width:0px;
  position:absolute;
  left:418px;
  top:80px;
  width:1px;
  height:1px;
}
#u2922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:2px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:114px;
  width:855px;
  height:1px;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:357px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:387px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:414px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:125px;
  width:68px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:125px;
  width:401px;
  height:111px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u2932_ann {
  border-width:0px;
  position:absolute;
  left:525px;
  top:121px;
  width:1px;
  height:1px;
}
#u2934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:245px;
  width:55px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
