body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:417px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:826px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:826px;
  text-align:left;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:405px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_ann {
  border-width:0px;
  position:absolute;
  left:410px;
  top:-4px;
  width:1px;
  height:1px;
}
