body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:356px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:630px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:354px;
  height:630px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:307px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:47px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:356px;
  height:47px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:16px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:519px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:111px;
  width:354px;
  height:519px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:78px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:76px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1320_ann {
  border-width:0px;
  position:absolute;
  left:279px;
  top:72px;
  width:1px;
  height:1px;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:92px;
  height:9px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:104px;
  width:87px;
  height:4px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:97px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:133px;
  width:116px;
  height:96px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_ann {
  border-width:0px;
  position:absolute;
  left:136px;
  top:129px;
  width:1px;
  height:1px;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:97px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:133px;
  width:116px;
  height:96px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:236px;
  width:114px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u1328_ann {
  border-width:0px;
  position:absolute;
  left:136px;
  top:232px;
  width:1px;
  height:1px;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:239px;
  width:114px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
