body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-13px;
  width:731px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:950px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:731px;
  height:950px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:467px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
