body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:354px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:630px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:630px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:307px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:16px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:276px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:354px;
  height:276px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#363636;
  text-align:left;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:147px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#363636;
  text-align:left;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#363636;
  text-align:left;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:167px;
  width:56px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#363636;
  text-align:left;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1368_ann {
  border-width:0px;
  position:absolute;
  left:214px;
  top:163px;
  width:1px;
  height:1px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:110px;
  width:323px;
  height:35px;
}
#u1370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1370_input {
  font-family:'Microsoft YaHei';
}
#u1370_ann {
  border-width:0px;
  position:absolute;
  left:328px;
  top:106px;
  width:1px;
  height:1px;
}
