body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1085px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:12px;
  width:209px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u3035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:19px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:83px;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:189px;
  width:728px;
  height:83px;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:282px;
  width:716px;
  height:580px;
}
#u3041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:580px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3041_input {
  font-family:'Microsoft YaHei';
}
#u3041_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:278px;
  width:1px;
  height:1px;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:883px;
  width:140px;
  height:42px;
}
#u3042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3042_input {
  font-family:'Microsoft YaHei';
}
#u3042_ann {
  border-width:0px;
  position:absolute;
  left:395px;
  top:879px;
  width:1px;
  height:1px;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:883px;
  width:140px;
  height:42px;
}
#u3043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3043_input {
  font-family:'Microsoft YaHei';
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:87px;
  width:620px;
  height:42px;
}
#u3044_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3044_input {
  font-family:'Microsoft YaHei';
}
#u3044_ann {
  border-width:0px;
  position:absolute;
  left:687px;
  top:83px;
  width:1px;
  height:1px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:139px;
  width:620px;
  height:42px;
}
#u3045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3045_input {
  font-family:'Microsoft YaHei';
}
#u3045_ann {
  border-width:0px;
  position:absolute;
  left:687px;
  top:135px;
  width:1px;
  height:1px;
}
